<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="GoInsp"
         connectionString="
            data source=DESKTOP-EVNNVIC\SQLEXPRESS;
            initial catalog=GoInsp;
            integrated security=True;
            MultipleActiveResultSets=True;
            App=EntityFramework;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="Spoofing" value="
         UserType=GoInsp.Security.GoInspUser;
         CredentialsType=GoInsp.Security.GoInspCredentials"/>
    <add key="Credentials" value="
         Email=klaas@goinsp.nl;
         Password=test1234"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=goinspg;AccountKey=YExjP7Hzm+OeX+YwLX9FqGQiBl//3uhyYoRPNtPYJjDgoSlSQhpPPIAEYnFdZ7V9BRJn4vs3Y4P0UhI8QCUVSA==" />
  </appSettings>
</configuration>